body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f4f4;
    }

div{
border: none;
border-radius: 10px;
width: 100%;
margin: 10px;
padding: 10px;
background-color: white;
box-shadow: 2px 2px 12px rgb(194, 190, 190);


}