body {
    font: normal 16px Arial;
    background-color: #ebebeb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    /*Modificado: */
    padding: 10px 20px;
    border-radius: 10px;
    /* Antes: Remove o width: 100%; porque os botões ficavam gigantes na tela. E Cada botão tenta ocupar: 100% do espaço disponível.*/
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;


}

.salvar {
    background-color: green;
    color: white;
}

.cancelar {
    background-color: rgb(221, 23, 23);
    color: white;
}