body {
    background-color: #ebebeb;
    font: normal 16px Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*Melhorias: gap: 15px para que os elementos não fiquem colados*/
    gap: 15px;
    /*adaptando em telas pequenas*/
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}

/*Melhorias: Textos longos:
geralmente são melhores alinhados à esquerda.*/
.card p {
    text-align: left;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 10px;
    width: 100%;
}

button:hover {
    background-color: #4ff04f;
}